
         /* Importation de la police */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
        
            font-family: georgia;
            font-size: 16px;
            background:black ;
            color: white;
            text-align: center;
            padding-top: 80px;
        }

        /* Mise en page améliorée */
        section {
        background: #1E2A38;
            max-width: 330px;
            margin: auto;
            border-radius:10px 20px 20px;
            padding: 50px 20px;
        }

        .wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            justify-content: center;
        }

        /* Style des blocs */
        .container {
            background:black;
            backdrop-filter: red;
            padding: 30px;
            width:320px;
            border-radius: 15px;
            box-shadow:;
            transition: transform 0.3s, 
            text-align: center;
              box-shadow: 2px 2px 10px rgba(255, 215, 0, 0.5);

        }


        
        p {
            line-height: 1.6;
            font-size: 16px;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
            padding: 0;
            font-size: 18px;
        }

        li {
            margin: 5px 0;
        }

        /* Bouton stylisé */
        .btn {
            display: inline-block;
            background: orangered;
            color: #1E2A38;
            padding: 12px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            text-decoration: none;
            transition: 0.3s;
            margin-top: 15px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        }

        .btn:hover {
            background: #FFC107;
        }

        /* Responsive */
        @media (max-width: 768px) {
            .wrapper {
                grid-template-columns: 1fr;
            }
        }
        
        
   
